aiodns==2.0.0
aiohttp==3.6.2
alabaster==0.7.12
antlr4-python3-runtime==4.8
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
decorator==4.4.1
Django==3.0.3
docutils==0.16
future==0.18.2
idna==2.8
idna-ssl==1.1.0
imagesize==1.2.0
immutables==0.11
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==0.6.2
multidict==4.7.4
networkx==2.4
numpy==1.18.1
packaging==20.1
pdfrw==0.4
Pillow==7.0.0
psycopg2-binary==2.8.4
pycares==3.1.1
pycparser==2.19
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
pyquil==2.8.0
python-rapidjson==0.7.2
pytz==2019.3
pyzmq==18.0.1
reportlab==3.4.0
requests==2.22.0
rpcq==2.6.1
ruamel.yaml==0.15.97
scikit-learn==0.20.0
scipy==1.1.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.0.1
sqlparse==0.3.0
typed-ast==1.4.1
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
virtualenv==16.0.0
wrapt==1.11.2
yarl==1.4.2
djangorestframework==3.11.0
selenium