{% extends 'base_generic.html' %}

{% block content %}
<h1 class="row justify-content-center">Sign Up</h1>
<div class="container" style="padding=40px;">
  {% if form.errors %}
  <div class="alert alert-danger">
    {% for key, error in form.errors.items %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <form method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="form-group">
        {{field.label_tag}}
        {{field}}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>

{% endblock %}
