{% extends 'base_generic.html' %}

{% block content %}
  <h1 class="row justify-content-center">Edit Job</h1>
  <div class="container">
  <div class="row justify-content-center" style="margin=20px;">
    <form method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="form-group">
        {{field.label_tag}}
        {{field}}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn-primary">Submit Changes</button>
      <button type="submit" class="btn-danger" name="delete">Delete</button>
    </form>
  </div>
  </div>

{% endblock %}
