<!DOCTYPE html>
<html lang="en">
{% extends 'base_generic.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>
		Jobs
	</h1>
	<form class="flex-container" method="get" style="text-align: center; margin-left: 120px; width: 50%;">
		{% for field in form.visible_fields %}
		<div class="flex-container">
    		<div style="margin-right: 15px; padding-top: 7px;">{{field.label_tag}}</div>
    		{% if field.help_text %}
          	<small class="form-text text-muted">{{ field.help_text }}</small>
        	{% endif %}
    		<div>{{field}}</div>
    	</div>
      	{% endfor %}
    	<div><button class="btn btn-primary" type="submit">Apply Filters</button></div>
  	</form>

	<br>
	<div class="flex-container" style="margin-left: 100px; margin-right: 100px; min-height: 400px;">
		<div style="flex:1;">
			<div>
				{% if not job_posts %}
					<div style="padding:20px">
						No jobs posts yet!
					</div>
				{% else %}
					<table style="width: 100%; margin: 15px;">
						<tr>
							<th></th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Posted</th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Title</th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Company</th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Location</th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Wage</th>
							<th style="padding-left: 15px; padding-bottom: 5px;">Description</th>
						</tr>
						{% for job in job_posts %}
							<tr>
								<td style="padding:15px"><a href="{% url 'job_detail' job.pk %}">Details</a></td>
								<td>{{ job.created }}</td>
								<td>{{ job.job_title }}</td>
								<td>{{ job.company.user.first_name }}</td>
								<td>{{ job.location }}</td>
								<td>{{ job.wage }}</td>
								<td>{{ job.short_summary }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>
		</div>
	</div>
</body>
{% endblock %}
</html>
