{% extends 'base_generic.html' %}

{% block content %}
  <h1 class="row justify-content-center">Request Ride To Interview</h1>
  <div class="container">
    <div class="row justify-content-center">
      <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{field.label_tag}}
          {{field}}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% endfor %}
        <div class="row justify-content-center">
          {% if update is None %}
            <button type="submit" class="btn btn-primary">Request Ride</button>
          {% else %}
            <button type="submit" class="btn btn-primary">Submit Changes</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
