{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
<img src="{% static 'logo.png' %}" class="mx-auto d-block" />
<div class="container">
  <div class="col-md-12 block">
    <p class="mx-auto d-block" style="font-weight: bold; font-size: 20px;">
      A cohesive experience for Companies, Volunteers, and people experiencing
      homelessness. Together we can ensure everyone has a home!
    </p>
    </div></div>

<div class="container">
  <div class="row">
    <div class="col-md-3 block">
      <div class="circle">
        <p>Post a job</p>
      </div>
    </div>
    <div class="col-md-3 block">
      <div class="circle">
        <p>Search for jobs</p>
      </div>
    </div>
    <div class="col-md-3 block">
      <div class="circle">
	      <p>Request a ride to your interview</p>
      </div>
    </div>
    <div class="col-md-3 block">
      <div class="circle">
        <p>Volunteer a ride to an interview</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
