<html >
<body onLoad="initialize()">
                  <div class="col-sm-offset-1" id="map_canvas" style="height:100%; width:100%;"></div>
                  <br>    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcjdofWqzDtZE-gfPHh3-pYnFQ_zXr2No&callback=initMap" async defer></script>    
<style>
  body{
    text-align:center;
  }
  .gmap3{
    margin: 20px auto;
    border: 1px dashed #C0C0C0;
    width: 500px;
    height: 500px;
  }
</style>    
<script type="text/javascript">

  var map;
  function initialize() {
    var mapDiv = document.getElementById('map_canvas');
    map = new google.maps.Map(mapDiv, {
      center: new google.maps.LatLng(48.208174,16.373819),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

  }
  function addMarkers() {
      var point = new google.maps.LatLng(48.208174,16.373819);
      var marker = new google.maps.Marker({
            position: point,
            map: map,
            url: 'http://172.16.0.101:8882/zone/1',
           title: 'test_title',
        });
             marker['infowindow']  = new google.maps.InfoWindow({
                     content: "testing content",
        });
            google.maps.event.addListener(marker, 'click', function() {
                //window.location.href = this.url;
                 this['infowindow'].open(map, this);
            });
           google.maps.event.addListener(marker, 'mouseover', function() {
                // this['infowindow'].open(map, this);
                    });
           google.maps.event.addListener(marker, 'mouseout', function() {
                // this['infowindow'].close(map, this);

            });
}


  // google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>
</html>
  
