{% extends 'base_generic.html' %}

{% block content %}
<div class="container" style="padding=40px;">
<div class="row justify-content-center">
<table style="width:50%"">
	<tr>
		<td>Interview Company</td>
		<td>{{ ride_request.interview_company }}</td>
	</tr>
		<tr>
			<td>Interview Time</td>
			<td>{{ ride_request.interview_datetime }}</td>
		</tr>
		<tr>
			<td>Interview Duration</td>
			<td>{{ ride_request.interview_duration }} minutes</td>
		</tr>
		<tr>
			<td>Interview Address</td>
			<td>{{ ride_request.interview_address }}</td>
		</tr>
</table>
</div>
<div class="row justify-content-center">
	<div class="col-md-4">
		<a href="{% url 'update_ride' ride_request.id %}">
			<button type="button" class="btn btn-primary">Update Ride Request</button>
		</a>
	</div>
	<div class="col-md-4 offset-md-4">
		<a href="{% url 'delete_ride' ride_request.id %}">
			<button type="button" class="btn btn-danger">Delete Ride Request</button>
		</a>
	</div>
</div>
</div>
{% endblock %}
