<!DOCTYPE html>
<html lang="en">
{% extends 'base_generic.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>
		{{ job.job_title }}
	</h1>
	<h3>
		{{ job.company.user.first_name }}
	</h3>
	<div></div>
	<div style="margin-left: 25px;">
		<div><b>Date Posted:</b> {{ job.created }}</div>
		<div><b>Location:</b> {{ job.location }}</div>
		<div><b>Wage:</b> {{ job.wage }}</div>
		<div><b>Hours:</b> {{ job.hours }}</div>
		<div><b>Description:</b> {{ job.description }}</div>
	</div>
</body>
{% endblock %}
</html>