<!DOCTYPE html>
<html lang="en">
{% extends 'base_generic.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>
		{% if user.first_name %}
			{{ user.first_name }}
		{% elif user.username %}
			{{ user.username }}
		{% else %}
			Dashboard
		{% endif %}
	</h1>

	<div></div>
	<div>
		<h2>Jobs Posted</h2>
		{% if not job_posts %}
				<div style="padding:20px">
					No jobs posts yet. Post a job now!
				</div>
		{% else %}
			<table style="width: 100%; margin: 15px;">
				<tr>
					<th></th>
					<th style="padding-left: 15px; padding-bottom: 5px;">Date Created</th>
					<th style="padding-left: 15px; padding-bottom: 5px;">Title</th>
					<th style="padding-left: 15px; padding-bottom: 5px;">Wage</th>
					<th style="padding-left: 15px; padding-bottom: 5px;">Description</th>
				</tr>
				{% for job in job_posts %}
			   		<tr>
						<td style="padding:15px"><a href="{% url 'edit_job' job.id %}">Open</a></td>
						<td>{{ job.created }}</td>
						<td>{{ job.job_title }}</td>
						<td>{{ job.wage }}</td>
						<td>{{ job.short_summary }}</td>
			    	</tr>
				   {% endfor %}
			</table>
		{% endif %}
	</div>
</body>
{% endblock %}
</html>