<!DOCTYPE html>
<html lang="en">
{% extends 'base_generic.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>
		{% if user.first_name %}
			{{ user.first_name }}
			{% if user.last_name %}
				{{ user.last_name }}
			{% endif %}
		{% elif user.username %}
			{{ user.username }}
		{% else %}
			Dashboard
		{% endif %}
	</h1>

	<div class="flex-container" style="margin-left: 100px; margin-right: 100px;">
		<div style="flex:1">
			<h2>Confirmed Rides</h2>
			{% if not confirmed_rides %}
				<div style="padding:20px">
					No confirmed rides yet!
				</div>
			{% endif %}
			<table style="width: 100%">
				{% for ride in confirmed_rides %}
				    <tr>
				    	<td>
				    		<div>
				    			<div class="flex-container">
				    				<div class="flex-container-vertical">
				    					<h5>{{ ride.interview_company }} - {{ ride.interview_datetime }}</h5>
                      <div>Pickup Address: {{ ride.homeless.home_address }}</div>
				    					<div>Interview Address: {{ ride.interview_address }}</div>
								    	<div>Volunteer: {{ ride.volunteer.user.first_name }} {{ ride.volunteer.user.last_name }}</div>
								    </div>
								    <div>
										<a href="{% url 'view_ride' ride.id %}">Details</a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div style="flex:1; padding-left: 25px">
			<h2>Unconfirmed Rides</h2>
			{% if not unconfirmed_rides %}
				<div style="padding:20px">
					No ride requests yet. Check out the job board!
				</div>
			{% endif %}
			<table style="width: 100%">
				{% for ride in unconfirmed_rides %}
				    <tr>
				    	<td>
				    		<div>
				    			<div class="flex-container">
				    				<div class="flex-container-vertical">
								    	<h5>{{ ride.interview_company }} - {{ ride.interview_datetime }}</h5>
								    	<div>Pickup Address: {{ ride.homeless.home_address }}</div>
								    	<div>Interview Address: {{ ride.interview_address }}</div>
								    </div>
					    			<div>
										<a class="detail-button" href="{% url 'view_ride' ride.id %}">Details</a>

									</div>
					    		</div>
					    	</div>
					    </td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
{% endblock %}
</html>
