<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div>
		Name {{ user.first_name }} {{ user.last_name }}
		Username {{ user.username }}
		E-mail {{ user.email }}
		Phone {{ user.profile.phone }}
	</div>
	<div>
		<a href="/volunteer">Volunteer to Drive</a>
		<a href="/logout">Logout</a>
		Total time volunteered:
		{{ user.total_volunteer_minutes }}
	</div>

	<div>
		<h1>Upcoming Rides</h1>
		<ul>
		{% for ride in confirmed_rides %}
		    <div>
		    	<div>
			    	Pickup Time: {{ ride.pickup_datetime }}
			    	Pickup Address: {{ ride.pickup_address }}
			    	Interview Time: {{ ride.interview_datetime }}
			    	Interview Address: {{ ride.interview_address }}
			    	Company: {{ ride.interview_company }}
			    	Candidate Name: {{ ride.homeless.user.first_name }} {{ ride.homeless.user.last_name }}
		    	</div>
		    	<a href="/ride_request/{{ ride.pk }}>">Details</a>
		    </div>
		{% endfor %}
		</ul>
	</div>

	<div>
		<h1>Past Rides</h1>
		<ul>
		{% for ride in finished_rides %}
		    <div>
		    	<div>
			    	Time: {{ ride.pickup_time }} - {{ ride.end_time }}
			    	Pickup Address: {{ ride.pickup_address }}
			    	Interview Address: {{ ride.interview_address }}
			    </div>
			    <a href="/ride_request/{{ ride.pk }}>">Details</a>
		    </div>
		{% endfor %}
		</ul>
	</div>


{% block content %}{% endblock %}
</body>
</html>