<!DOCTYPE html>
<html lang="en">
{% extends 'base_generic.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>
		{% if user.first_name %}
			{{ user.first_name }}
			{% if user.last_name %}
				{{ user.last_name }}
			{% endif %}
		{% elif user.username %}
			{{ user.username }}
		{% else %}
			Dashboard
		{% endif %}
	</h1>

	<h3>
		Total time volunteered: {{ total_time }}
	</h3>

	<div></div>
	<div class="flex-container" style="margin-left: 100px; margin-right: 100px;">
		<div style="flex:1">
			<div style="margin-left:0px">
				<h2>Upcoming Rides</h2>
				{% if not confirmed_rides %}
					<div style="padding:20px">
						No upcoming rides yet. Volunteer to drive!
					</div>
				{% endif %}
			</div>
			<table style="width: 100%">
			{% for ride in confirmed_rides %}
			    <tr>
			    	<td>
			    		<div>
			    			<div class="flex-container">
                  <div class="flex-container-vertical">
                    <h5>{{ ride.start_datetime }} - {{ ride.end_datetime }}</h5>
                    <div>Candidate Name: {{ ride.homeless.user.first_name }}</div>
                    <div>Company: {{ ride.interview_company }}</div>
							    </div>
								<div>
									<a href="{% url 'view_ride' ride.id %}">Details</a>
								</div>
							</div>
					    </div>
			    	</td>
			    </tr>
			{% endfor %}
			</table>
		</div>

		<div style="flex:1; padding-left: 25px">
			<h2>Past Rides</h2>
			{% if not finished_rides %}
				<div style="padding:20px">
					No past rides yet.
				</div>
			{% endif %}
			<table style="width: 100%">
			{% for ride in finished_rides %}
			    <tr>
			    	<td>
			    		<div>
			    			<div class="flex-container">
			    				<div class="flex-container-vertical">
                    <h5>{{ ride.start_datetime }} - {{ ride.end_datetime }}</h5>
                    <div>Candidate Name: {{ ride.homeless.user.first_name }}</div>
                    <div>Company: {{ ride.interview_company }}</div>
							    </div>
							    <div>
							    	<a href="#">Details</a>
							    </div>
							</div>
						</div>
				    </td>
			    </tr>
			{% endfor %}
			</table>
		</div>
	</div>
</body>
{% endblock %}
</html>
